<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Vue.js App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col">
                <fieldset>
                    <legend>Data Editor</legend>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" class="form-control" v-model="title">
                    </div>
                    <div class="form-group">
                            <label for="message">Message</label>
                            <textarea v-model="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                </fieldset>

            </div>
            <div class="col">
                <output-message :title="title" :message="message" />

                
            </div>
        </div>
        
    </div>

    <script>
        Vue.component('output-message', {
            props: ['title', 'message'],
            template: `
                <div data-value="hello world">
                    <h2>{{ title }}</h2>
                    <p :title="title">{{ message }}</p>
                </div>`
        });

        let app = new Vue({
            el: '#app',
            data: {
                title: 'First Vue.js App',
                message: 'Hello, Vue!'
            }
        });
    </script>
</body>
</html>